body { 
	background-color: #333333;
	color: #eee;
}

header {
	text-align: center;
	font-size: 50px;
	font-family: "Original Surfer";
	background-color: rgba(51, 51, 64, 0);
	padding: 15px;
	margin: auto;
    color: black;
    
}

div.background {
    background-image: url(../img/BeerBackground.jpg);
}

div.transbox {
  margin: 30px;
  background-color: rgba(51, 51, 64, 0);
  /*border:;*/
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox .signIn {
  margin: 2%;
  font-weight: bold;
  line-height: 50px;

}

*{padding:0;margin:0;list-style-type:none;}

        div.dropDown{
            height: 100px;
            width: 100%;
            padding-top: 20px;
            cursor:pointer;
            color: black;
            /*background-color: #122759;*/
            background-color: rgba(51, 51, 64, 0);
            text-align: center;
            font-size: 50px;
        }

        div.dropDown span{padding-top:1px;}
        span.dropHeader{
            padding-left:10px;
            color: black;
        }
        ul.optionList{
            width: 100%;
            display:none;
            border:1px solid #ccc;
            color: black;
            padding:5px 0;
            line-height: 30px;
            font-size: 20px;
            margin: auto;
        }
        li.option{
            list-style-type:none;
            padding:10px 2px;
        }
        li.option:last-child {
            border-bottom:0;
        }
        span.optTitle{
            padding-left:10px;
            color:#333;
        }

        li.option:hover span.optTitle{
            color:#fff;
        }
        input {
            clear:both;
            background-color: #501602;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 100%;
        }

        form {
            width: 90%;
        }

        img.dropArrow{width:10px;height:10px;}

.signIn h1 {
    margin: auto;
}

h2 {
    font-weight: 10px;
}

button {
    width: 100%;
    border: none;
}

img {
    text-align: left;
}





